<%- include('partials/booksHeader'); %>


<div class= "row small-top-buffer">
    <div class= "col-lg-4"></div>
    <div class= "col-lg-4">
      <div class="container">
        <form method="POST" action="/search_books">
          <div class="input-group">
            <input type="search" name="searchItem" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
   
  <% for(let i=0; i<resultArray.length; i++){ %>
    <form method="POST" action="/addToBookstoreDb">
    <input type="hidden" name="bookID" value="<%=resultArray[i].id%>" />
    <div class="row" style="text-align:center; height:100 ; max-width: 70%; padding:15px;border-style:dashed; margin-bottom:20; margin-left:15%; border-radius: 20px; background-color:aliceblue;">
      <div class="col-lg-2">
        <p><b><%=resultArray[i].name%></b></p>
      </div>
      <div class="col-lg-1">
        <p>Class</p>
        <p><b><%=resultArray[i].class%></b></p>
      </div>
      <div class="col-lg-1">
        <p>Board</p>
        <p><b><%=resultArray[i].board%></b></p>
      </div>
      <div class="col-lg-1">
        <p>Subject</p>
        <p><b><%=resultArray[i].subject%></b></p>
      </div>
      <div class="col-lg-2">
        <p>Buy Price</p>
        <input type="number" name="buyPrice" placeholder="0" style="max-width: 65;">
      </div>
      <div class="col-lg-2">
        <p>Sell Price</p>
        <input type="number" name="sellPrice" placeholder="0" style="max-width: 65;">
      </div>
      <div class="col-lg-1">
        <p>Quantity</p>
        <input type="number" name="quantity" placeholder="0" style="max-width: 60;">
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </form>
    <!-- <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text font-weight-bold font-italic text-center">Name: <%=resultArray[i].name%></p>
          <p class="card-text font-weight-bold text-center">Class: <%=resultArray[i].class%></p>
          <p class="card-text font-weight-bold text-center">Board: <%=resultArray[i].board%></p>
          <p class="card-text font-weight-bold text-center">Subject: <%=resultArray[i].subject%></p>
          <form method="POST" action="/addToBookstoreDb">
            <input type="hidden" name="bookID" value="<%=resultArray[i].id%>" />
            <div>
              <span class="card-text font-weight-bold">Buy Price: </span><input type="number" name="buyPrice" >
            </div>
            <div style="padding-top: 5%;">
              <span class="card-text font-weight-bold text-center">Sell Price: </span><input type="number" name="sellPrice">
            </div>
            <div style="padding-top: 5%;">
              <span class="card-text font-weight-bold text-center">Quantity:   </span><input type="number" name="quantity" value="1">
            </div>
            <div style="padding-top: 5%;">
              <button type="submit" class="btn btn-success">Add to my DB</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
  <%}%>
  </div>
  
    
  </body>
  </html>