<%- include('partials/booksHeader'); %>


<div style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&w=1000&q=80');">
<div id="all">
  <div id="content">
    <div class="container">
      <div class="row" style="padding-top:5%">
        <div class="col-lg-3" >
          <!--
          *** MENUS AND FILTERS ***
          _________________________________________________________
          -->
          <div class="card sidebar-menu mb-4">
            <div class="card-header">
              <h3 class="h4 card-title">Categories</h3>
            </div>
            <div class="card-body">
              <ul class="nav nav-pills flex-column category-menu">
                <li><a href="/bookstore_myDB_CBSE" class="nav-link active">CBSE</a>
                  <ul class="list-unstyled">
                    <li><a href="bookstore_myDB_CBSE_9" class="nav-link">IX</a></li>
                    <li><a href="bookstore_myDB_CBSE_10" class="nav-link">X</a></li>
                    <li><a href="bookstore_myDB_CBSE_11" class="nav-link">XI</a></li>
                    <li><a href="bookstore_myDB_CBSE_12" class="nav-link">XII</a></li>
                  </ul>
                </li>
                <li><a href="/bookstore_myDB_ICSE" class="nav-link">ICSE</a>
                  <ul class="list-unstyled">
                    <li><a href="bookstore_myDB_ICSE_9" class="nav-link">IX</a></li>
                    <li><a href="bookstore_myDB_ICSE_10" class="nav-link">X</a></li>
                    <li><a href="bookstore_myDB_ICSE_11" class="nav-link">XI</a></li>
                    <li><a href="bookstore_myDB_ICSE_12" class="nav-link">XII</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="box">
            <% console.log(" board "+ board) %>
            <h1><%= board %> <%= grade %> (<%= resultArray.length %>)</h1>
          </div>
          <% console.log("############3")%>
          <% console.log(resultArray.length)%>
          <div class="box">
            <div class="row products">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Book</th>
                      <th>Class</th>
                      <th>Quantity</th>
                      <th>Buy price</th>
                      <th>Sell price</th>
                    </tr>
                  </thead>
                  <% for(let i=0; i<resultArray.length; i++){ %>
                    <tbody>
                      <tr>
                        <td><%=resultArray[i].name%></td>
                        <td><%=resultArray[i].class%></td>
                        <td><%=resultArray[i].quantity%></td>
                        <td>Rs. <%=resultArray[i].buyPrice%></td>
                        <td>Rs. <%=resultArray[i].sellPrice%></td>
                      </tr>
                    </tbody>
                  <%}%>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-9-->
      </div>
    </div>
  </div>
</div>
</div>

