<%- include('partials/header'); %>


<div class="input-group d-flex align-items-center justify-content-center">
    <form method="POST" action="/makeinindia">
      <div class="form-outline"></div>
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
      </div>
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


<!-- <img src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>"> -->
  
</body>
</html>