<% console.log("user == " + user) %>
<%- include('partials/header'); %>


<div class= "row small-top-buffer">
  <div class= "col-lg-4"></div>
  <div class= "col-lg-4">
    <div class="container">
      <form action="/1">
        <div class="input-group">
          <input type="search" name="search" class="form-control rounded" placeholder="Search Here" aria-label="Search"
          aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% /* %>

<% */ %>



<div id="all" style="background-image: url('/uploads/bg-main.png'); ">
  <div id="content">
    <div class="container">
      <div class="row">                       
        <div class="col-lg-12" style="padding-top: 2%;">
          <div class="box info-bar" >
            <div class="row">
              <div class="col-md-12 col-lg-3 products-showing"> <strong><%=numOfResults %></strong> <strong><%= searchVal%></strong> Products </div>
              <div class="col-md-12 col-lg-3 products-number-sort">
                <form action="/makeinindia" method="post" class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                  <div class="products-sort-by mt-2 mt-lg-0" ><strong>Sort by</strong>
                    <select name="sortBy" value="<%=sortBy%>" class="form-control" onchange="this.form.submit()">
                      <option disabled selected>Select</option>
                      <option>Name</option>
                      <option>Price (Low to High)</option>
                      <option>Price (High to Low)</option>
                    </select>
                  </div>
                  <input type="hidden" name="search" value="<%=searchVal%>"/>
                </form>
              </div>
              <div class="col-md-8 col-lg-3 products-showing">Sorted By <strong><%=sortBy%></strong></div>

              <div class="col-md-12 col-lg-3 products-showing">Page <strong><%=currentPage%></strong> of <strong><%=pages%></strong></div>
            <% console.log("hiiiiiiiiiiiiiiiiiii")%>
              <%console.log("current page = " + currentPage + " total pages = " + pages)%>
            </div>
          </div>
          
          <div class="row products" >
            <% console.log("resultArray len = " + resultArray.length)%>
            <% for(let i=0; i<resultArray.length; i++){ %>
              <div class="col-lg-3 col-md-4">
                <div class="product" style="height: 12cm; border: 2px dashed black;">
                  <div class="flip-container" style="width: 90%; height: 0.01; margin:auto; margin-top:5; display: block;">
                    <!-- <div class="flipper" style="width: 90%; height: auto; margin: auto; display: block;"> -->
                      <div class="front" style="height: auto;"><a href="detail.html"><img src="<%=resultArray[i].imgURL%>" alt="" class="img-fluid" style="height: 280;"></a></div>
                      <div class="back" style="height: auto;"><a href="detail.html"><img src="<%=resultArray[i].imgURL%>" alt="" class="img-fluid" style="height: 280;"></a></div>
                    <!-- </div> -->
                  </div>
                  
                  <a href="detail.html" class="invisible" style="height: 0.3cm;"><img src="<%=resultArray[i].imgURL%>" alt="" class="img-fluid" style="height: 280;"></a>
                  <div class="text">
                    <h3><a href="detail.html" style="font-size:medium;"><%=resultArray[i].name%></a></h3>
                    <p class="price"> 
                      <del>Rs. <%=resultArray[i].mrp%></del>   Rs. <%=resultArray[i].price%>
                    </p>
                    <p class="buttons" >
                      <div class="row">
                      <div class="col-lg-3">
                        <form method="POST" action="/addtowishlist" class="buttons" >
                          <input type="hidden" name="productID" value="<%=resultArray[i]._id%>" />
                          <a><button type="submit" class="btn btn-outline-secondary"><i class="fa fa-heart"></i></button></a>
                          </form>
                      </div>
                      <div class="col-lg-9">
                        <form method="POST" action="/addToCart" class="buttons" >
                            <input type="hidden" name="productID" value="<%=resultArray[i]._id%>" />
                            <a><button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to Cart</button></a>
                        </form>
                      </div>
                      </div>
                    </p>
                  </div>
                </div>
                <!-- /.product            -->
              </div>
              <!-- /.products-->
            <%}%>
          </div>
          
        <!-- PAGINATION -->
<div class="pages">
    <div class="loadMore">
   <% if (currentPage == 1 && pages > 1) { %> 
    <% console.log("1st if")%>

   <a 
   href="/<%= parseInt(currentPage) + 1 %>?search=<%=searchVal%>" class="btn btn-primary btn-lg"><span>
     Page <%=  parseInt(currentPage) + 1 %>
     <i class="icon ion-ios-arrow-forward"></i>
   </span>
   </a>
   <% } else if (currentPage < pages) { %>
    <% console.log("2nd if")%>
   <a 
   href="/<%= parseInt(currentPage) - 1 %>?search=<%=searchVal%>" class="btn btn-primary btn-lg"><span>
     <!-- <i class="btn btn-primary btn-lg"></i> -->
     Page <%= parseInt(currentPage) - 1 %>
   </span>
   </a>
   <a 
   href="/<%= parseInt(currentPage) + 1 %>?search=<%=searchVal%>" class="btn btn-primary btn-lg"><span>
    Page <%= parseInt(currentPage) + 1 %>
    <!-- <i class="btn btn-primary btn-lg"></i> -->
   </span>
   </a>
   <% } else if (currentPage == pages && pages > 1) { %>
    <% console.log("3rd if")%>

   <a 
   href="/<%= parseInt(currentPage) - 1 %>?search=<%=searchVal%>" class="btn btn-primary btn-lg"><span>
     <i class="btn btn-primary btn-lg"></i>Page 
     <%=parseInt(currentPage) - 1 %>
   </span>
   </a>
   <% } %>
   </div>
        </div>
        <!-- /.col-lg-9-->
      </div>
    </div>
  </div>
</div>

</body>
</html>
<%- include('partials/footer'); %>
