<%- include('partials/sellerheader'); %>

<!-- Table -->
<div class="row">
<div id="customer-orders" class="col-lg-9">
<div class="box">
<hr>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:30%;">Product Name</th>
          <th style="width:10%;">Image</th>
          <th style="width:10%;">Price</th>
          <th style="width:10%;">Quantities Left</th>
          <th style="width:10%;">Quantities Sold</th>
          <th style="width:10%;">Quantities in Carts</th>
          <th style="width:10%;">Quantities in Wishlists</th>
          <th style="width:10%;">Total realized Sales</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<10; i++){ %>
            <tr>
                <th><%=productsArray[i].name%></th>
                <td style="width:150"><img class="card-img-top" width="40" height="100" src="<%=productsArray[i].imgURL%>"></td>
                <td><%=productsArray[i].price%></td>
                <td><%=productsArray[i].quantity%></td>
                <td><%=productsArray[i].quantitySold%></td>
                <td><%=productsArray[i].quantityCarts%></td>
                <td><%=productsArray[i].quantityWishlists%></td>
                <%var totalSales= productsArray[i].quantitySold*productsArray[i].price%>
                <td><%=totalSales%></td>
            </tr>
        <%}%>
      </tbody>
    </table>
  </div>
  
</div>
</div>
<div id="customer-orders" class="col-lg-3">
  <div class="box">
  <hr>
  <div class="table-responsive">
      <table class="table table-hover">
        <caption>SALES ANALYSIS</caption>
        <thead>
          <tr>
            <th>Category</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th>Total quantities sold:</th>
              <td>100</td>
          </tr>
          <tr>
            <th>Total sales:</th>
            <td></td>
        </tr>
        <tr>
          <th>Total quantities in cart:</th>
          <td></td>
        </tr>
        <tr>
          <th>Total sales potential:</th>
          <td></td>
        </tr>
        <tr>
          <th>Total quantities in wishlist:</th>
          <td></td>
        </tr>
        <tr>
          <th>Total Wishlist potential:</th>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

</div>



<%- include('partials/footer'); %>