<%- include('partials/sellerheader'); %>

<!-- Table -->
<div class="row">
<div id="customer-orders" class="col-lg-9">
<div class="box">
<hr>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:30%;">Product Name</th>
          <th style="width:10%; text-align:center;">Image</th>
          <th style="width:10%; text-align:center;">Price</th>
          <th style="width:10%;text-align:center;">Inventory</th>
          <th style="width:10%;text-align:center;">Quantities Sold</th>
          <th style="width:10%;text-align:center;">Quantities in Carts</th>
          <th style="width:10%;text-align:center;">Quantities in Wishlists</th>
          <th style="width:10%;text-align:center;">Total realized Sales</th>
          <th>Edit Inventory</th>
          <th>Delete Product</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<10; i++){ %>
            <tr>
                <th><%=productsArray[i].name%></th>
                <td style="width:150"><img class="card-img-top" width="40" height="100" src="<%=productsArray[i].imgURL%>"></td>
                <td style="font-weight:bold; color:brown; text-align: center;">Rs.<%=productsArray[i].price%></td>
                <td style="font-weight:bold; color:darkgreen;text-align: center;"><%=productsArray[i].quantity%></td>
                <td style="font-weight:bold; color:darkgreen;text-align: center;"><%=productsArray[i].quantitySold%></td>
                <td style="font-weight:bold; color:darkgreen;text-align: center;"><%=productsArray[i].quantityCarts%></td>
                <td style="font-weight:bold; color:darkgreen;text-align: center;"><%=productsArray[i].quantityWishlists%></td>
                <%var totalSales= productsArray[i].quantitySold*productsArray[i].price%>
                <td style="font-weight:bold; color:brown;text-align: center;">Rs.<%=totalSales%></td>
                <td><form method="post" action="/sellerInventoryEdit">
                  <input type="hidden" name="productID" value="<%=productsArray[i]._id%>">
                  <input name="newInventory" style="width:40;margin-bottom:5;"/>
                  <button type="submit">Edit</button>
                </form></td>
                <td><form method="post" action="/sellerDeleteProduct">
                  <input type="hidden" name="productID" value="<%=productsArray[i]._id%>">
                  <button type="submit" class="fa fa-trash-o"></button>
                </form></td>
            </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>
</div>

<%var totalQuantitiesSold=0%>
<%var totalSales=0%>
<%var totalQuantitiesCart=0%>
<%var totalSalesCart=0%>
<%var totalQuantitiesWishlist=0%>
<%var totalSalesWishlist=0%>
<%for(var i=0; i<10; i++){%>
    <%var price= productsArray[i].price%>
    <%totalQuantitiesSold+= productsArray[i].quantitySold;%>
    <%totalSales+= productsArray[i].quantitySold*price;%>
    <%totalQuantitiesCart += productsArray[i].quantityCarts;%>
    <%console.log(totalQuantitiesCart)%>
    <%totalSalesCart+= productsArray[i].quantityCarts*price;%>
    <%totalQuantitiesWishlist+= productsArray[i].quantityWishlists;%>
    <%totalSalesWishlist+= productsArray[i].quantityWishlists*price;%>
<%}%>

<div id="customer-orders" class="col-lg-3">
  <div class="box">
  <hr>
  <div class="table-responsive">
      <table class="table table-hover">
        <caption>SALES ANALYSIS</caption>
        <thead>
          <tr>
            <th>Category</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Total quantities sold:</th>
            <td style="font-weight:bold; color:darkgreen;"><%=totalQuantitiesSold%></td>
          </tr>
          <tr>
            <th>Total sales:</th>
            <td style="font-weight:bold; color:brown;">Rs.<%=totalSales%></td>
        </tr>
        <tr>
          <th>Total quantities in cart:</th>
          <td style="font-weight:bold; color:darkgreen;"><%=totalQuantitiesCart%></td>
        </tr>
        <tr>
          <th>Total Cart potential:</th>
          <td style="font-weight:bold; color:brown;">Rs.<%=totalSalesCart%></td>
        </tr>
        <tr>
          <th>Total quantities in wishlist:</th>
          <td style="font-weight:bold; color:darkgreen;"><%=totalQuantitiesWishlist%></td>
        </tr>
        <tr>
          <th>Total Wishlist potential:</th>
          <td style="font-weight:bold; color:brown;">Rs.<%=totalSalesWishlist%></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

</div>



<%- include('partials/footer'); %>